h1{
    color: pink
}

.ingredients{
    color: blue;
}

div ul li {
    color: orange;
}

#beurre {
    color: yellow;
}

.instructions{
    color: blue;
}

#cuire{
    color: rgb(226, 43, 43);
}

button{
    background-color: pink;
    transition-property: height;
    transition-duration: 100s;
    transition-delay: 80s;
    transition-timing-function: ease-in-out;
}
button:hover{
    height: 100px;
}